* {
    margin: 0;
    padding: 0;
}

$dark: #222;
$light: #eee;
$primary-color: #007bff;
$fruit-color: #d63f3f;

@mixin cover-whole-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin dark-theme {
    background-color: $dark;
    color: $light
}

@mixin game-element {
    position: fixed;
} 

@mixin circle {
    border-radius: 50%;
}

#App, #Home {
    @include cover-whole-screen;
    @include flex-center-column;
    @include dark-theme;
}

.fruit {
    @include game-element;
    @include circle;
    @include flex-center-column;
    border: 2px solid $fruit-color;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1%
}

#Points {
    @include game-element;
    top: 1rem;
}