* {
    margin: 0;
    padding: 0;
}

$dark: #222;
$light: #eee;
$primary-color: #007bff;
$fruit-color: #d63f3f;

@mixin cover-whole-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin dark-theme {
    background-color: $dark;
    color: $light
}

@mixin game-element {
    position: fixed;
} 

@mixin circle($size) {
    border-radius: 50%;
    height: $size;
    width: $size;
}

#App, #Home {
    @include cover-whole-screen;
    @include flex-center-column;
    @include dark-theme;
}

.fruit {
    @include flex-center-column;
    @include game-element;
    @include circle(2rem);
    background-color: $fruit-color;
    padding: 1%
}

#Player {
    @include flex-center-column;
    @include game-element;
    width: 3rem;
} 

// players part
.part {
    @include game-element;
    @include circle(2.5rem);
    background-color: $fruit-color
}
// player head
#Head {
    @include game-element;
    @include circle(3rem)
} 

#Points {
    @include game-element;
    top: 1rem;
}